<!doctype html>
<title>Upload new File</title>
<center>
<h1>Upload a jpeg picture</h1>
<img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUVFRgWFhUYGRgaGhkYGRwaGhoZGhkeGhkaGRoZ
GhgcIS4lHiEsIRwcJjgmKy8xNTU1HCQ9QDszPy40NTEBDAwMEA8QHxISHjssJSw0NEBAOzg0NDYz
NzQ9MUA9NDo9PTQ2NDQ9PzE0NDQ0PTE+NDQ0NDU0NTQ0NDE0ND00NP/AABEIAOEA4QMBIgACEQED
EQH/xAAcAAEAAgMBAQEAAAAAAAAAAAAABAUDBgcCAQj/xABBEAACAQIDBQYDBQYEBgMAAAABAhEA
AwQSIQUGMUFREyIyYXGBB5GhQlJicsEjgpKx0fAUJDOiFWOywuHxU5Oz/8QAGQEBAAMBAQAAAAAA
AAAAAAAAAAEDBAIF/8QAKBEBAAICAgIBAgYDAAAAAAAAAAECAxESIQQxQWGhEyJRcZGxFFLh/9oA
DAMBAAIRAxEAPwDs1KUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUo
FKUoFKo8fvTg7JIbEIWHFUJuMPVUkj3rX8f8SrCA5LLtHN2W2h9xmYe6ig3ylcoxPxExLAMi2kQy
AcjOdOIDFgD/AA1S4rfPFkEtiXjovZp8iig/Wg7jSvzXe3mxLGTiL/8A91z9Wqdsrf3G4ciL7uvN
bpNwH3Y5h7MKD9DUrW90d6bWOtllhbiR2luZIngynTMhgwY5EcRWyUClKUClKUClKUClKUClKUCl
KUClKUClKUClKUClKUGk7+b5nAlLVtFa9cUvLTkRQYzMAQWJOgWRwOukHk+394sVfTNeu3HRiQAe
7aOuoCKArRw1BPnW8/FnZyvettwfsyqmYBhichnQTIg8jE6E1yXEIAIdiGDRlynhpJ8tZBB4UHhb
x6nhHE1NsX30kzBBE66gyD86rkcr9kHhwPM8BpXq/jGgqAF4jq3Q0TE67hsz7TwxClxddgNAvZ2U
JIE5vGTHCRExVViL6vmCgrJ7qyW4kQoMTI6nj7awrqwfEGkSSJ4niNQNa8Ms8edREREahN7zed2n
cvNxWUlWBkcfYAkxWLUwApkwAI4k8ABzPlU+2LihZgKpLAOFCSZnxwDxOk19TG5B3bmQ94ZrKsHI
YglSwygroNA3AVLlZLtC7gr9p7RCXrdu2HA1XNlGe245zAzryadQRp3jdPeS1jrAu2+6whbiEy1t
o4HqDxDcx7gcB2Dsa7imK4ezKroXuNltr5HKJzeQY8a6RuBsC9gsYz3blrI1p0IQEDNnRllm1bQP
xOnvVdstK24zMbdRS0xuIdVpUW3i0YkBh3ePl5yeI86pdpb44e1IQ9q3RNV934fKa7iYnuETGmy1
X4za9i0CXuqI0IBlp6ZRJrn2096r9/u6IszlQmSOjPz+QqA2LJEKoQEQeZMiDqalDa8fvtys2/3r
n6Kp/X2qtG9WKJ8a+mRY/rVIEgSxCjqTArwcSPsKW/NK840UAsfWIoNwwe91z7dtWHMrKn3mR/Kr
exvTh2Esxt9c40H7wkD3iucRdaYeDyEwB+6v9SPKtV3hwOJJHaOzgk5RMDTico00ka+dB1Tb3xMw
dmVsn/EvyyGLY9bnA/uhvatFufEvHm5mDIq8raoCseplifOR7VrmC2G7ak+saAerGse1MTbw4VUK
uxnMQCVWIjvcGPHqNKDqu6vxFe/et2MRZVC/dV1YxnjRWQzAPCc3GNNdOj1+at0dqA4i07mcl600
aSe8eE+ld8w+8VhuLFD0cEfUSPrQXNKxWbysJRlYdVII+lZaBSlKBSlKBSlKDQPilb7tlvzqf9hH
8jXIdpWe04CXXhHFwP5sAPcDqIPa/iXanDK33bg+TKw/nFcR2gOPoaCvuWnyqjsFUTAYhYkkk5TD
HUnkeNeWuLlCF2ZQSwVV0nhMvlP0NQgIpQWuDRrhhEQa8Xc/IBcv61YpstgYe9kmTFsKkgcdVAJ9
6rNh4/snA7AX2Y5VUgvJYQAqjix5cxxGtb3u9s2+ih8alrKBIlpunLGUNllWWOpkQPOuMmSuOs2l
3Sk3tqGvjdC67SlslTHfcxM89dW9VB96nbD3G7S87X3As2zBCBg1wjWFzAEKRGsTrGhmN/vY6669
y1I5NKiZ5KG0HSqrYm0bva3LV5WQqFZCyxIB1EgQ2p0OvOvKnz8l624xENtfFrGpmWwbO2dYw6Kt
tcqLqqqWYmSTJJMk8ay4jv6wdNQCsiohv5W48eI6TwIHnXw48cJB6a8PX2rzJycp3PtojHMemDZ2
c3bnad22FEZgIZmOsdQI+Zr0dnWAxdUVp1gzGp1IWYj2qq3nxjIgdJlSCQOOWdTHpXjdzaS3FDZs
7E5YBLFZ4A9OHyq+LZIpyrMxH0knHFp3MJOP2KytKKWU6wsNHkNZNV9zOuirlI45tW+pCj1FbZcY
qRrEjiNNSQAI/vhWDG4NGOZs0wAckFuPHL9rTlx0rd4nnzaYpf8AljzePqN1apkIOYySZ4kk+2vl
yAr3IAMnTzAjXziDryOY1crszMue2yup6aHrBXkfWsF7CspLMmVuAJXQfLT2BFeryj0x6aNd2w4u
P0zMAOgBgD5CveK28YRygdiCiBj3Rl4swHHUkx5+VVONwt1XfNlc5iSV0kkySAY+WtYbILQrKVy/
eBHE8YPLSpEm/jLt7xuSOSjuoPRRp7mTWXDbNe8QqIWPKB+v61ue7G59u4A7XEcdEYNHrHCt9wWz
bdoQiAf3zNBzXAfDl2GZyqk8hx9zHH+9akPupjbP+necjoYYew4D5GuoJbrFjsXbsoXuOqIObGPY
cyfIa0HME2hjLJ79qY+0hKN8x+gq82fv040ZnH4biT9R3vnFQdv76h5TD24B0DuuZ2P/AC0116TJ
8hVVgtjXHOe6SgOsSC7a8zqEHzP5TQdJwW+KsO8gI+8jA/Q/1q5w23rD8HCno3d+p0+tc+w2FRFC
osD5z5knUnzOtSkSg6QrgiQQR1Gor3XPcOzKZVmU/hJH8q2XYu1Sx7NzLcjz4TBHWAaC9pSlBru/
VnNgrv4cjfwupP0muCY4an0Nfozb1jPhr6Di1q4B65TH1r896doAVzZtAPM8PrQa2cMw41gvjLxO
vTn/AOK3IYa0zFWGR1MFWEEH0NaTjMOyOyv4gdTxnzB5g9aDcfhc9o4m4j5e0uWmS0XIALErnRSe
DsmZQfM9YO17VRlZwyOiAwAysoEDQCB5E6VyfZg/bW9Y766xMSw5c67Bsza922vZYj/M2iIUkAXF
H3czHv8A5W6xIrD5mOL63OpavGvNd9NkwOJtOisCuXKvWBoI0rztHD2nyye6BAgwQI5GfTjWvf8A
DbyCcIy3bWYsJOU2572S6rGV8jwI+dW+G2ZGUu7sY7wVgEJ4k6iSJmOdeRlxTjntvrNbdxKo2kl1
Gm2/aFtFU6NPHTkfXSIqfsvYqqua+2ZyJyhjCSeEiJOvH/3Vl2tsNC5S8T3hoOXTTpPmKi7a2i9t
czLCgkE6EHpqOH0qvluOMQ73aelRvJs66Umy2deamMwEH2blpA96gbn2r1y4GysbSSSxEBmEQg6R
qdJ4VM2Sbr3FYMOylm1PebQ5RHLWJ8hW3f4kgTAIEQPtT14c6s58KcZiEWm0emTEWRlEgBojiBH9
apdpNcVkyZjLIrEAsILakkiBFWXarq0AnnOpGvDWsVzEg+sR+sR6RVW43txWJhkxN60GLCJAjNw0
B4Drxr7bgrzJmQc0GJmCPpWg7Sv3LWIHdZkLAjKQSNO8IJ0Gh46cNa23ZW0A8k8AqmNJWRqCZifp
Vt+deN4n/ifw44zDJi9j4e9qbQmJle6x914+9V3/AAeyO5nEfcvKAP4iMp9pqyTHIhMNKx3Rry1O
s68al/4pJVmkKxAJIjQ89RyrV4vnXrbjedxPyzZvG63WNNVxO66A51V7bcQ9tj8xxgekV6w+L2hY
8GIS+o+zdGvpmmT7uK3i7sS0P9O6EJ1AVgszwOXVW+VQ8Vsm8viVHHUjI38Syv0Fe1ExLz9NcxG/
eJRMpwWV40bMz2/XKq6+metabDYvGPnvMw/E4IgcwlvSB56Dn3q3a9hVHEOn5lzL7Msx6kisa4Vo
zLldeqEMP79KkVmztk27PgEtEF21c+/IeQAHlVkiVkVP75/Ks2UDjpQe8Jgs/wBtFPRiVJ9DEfWl
/ZbWTmd2AaSBKsp9NJHzrFcuQcoBLESEXxR1Y/YH16Vs2wMO7WSl5VyyCgAy6TmPOTrGtBr+CweI
uhQFCSJZ+PkcgOo962fZexLdmGElhOpM6nQn1q0RABAAAHACvdApSlB8Ir837Vs9liGT/wCO4y/w
MR+lfpGuC/EnC9njr3R8rj95BP8AuDUGwbU2NaxKKX7jgDJcUd4eTD7a+R9orn23tjvaYW768ZyO
NUcdUfkeqn+ldMwL5raHqoP0rLfso6FLiK6N4lbh5Ec1YcmGooOFXcK1pg3EAgg+h59K6Td2iDGm
uhAGvHhA5mYqFt3dZ7IZ7Oa7ZHiU63LY/EPtp5j3A41A2NtBEnNJDR3wSSABAUA8OJ89edZ/Ixze
ImPhditFZ7bXgjdUh0co69DodGMFYIYnmCNIEgxpcJiGvIVypYvagSf2FwkkCGEm2SfLKSdCSYGp
nFZyEQzIEle8UWQS5E6nWJ6kCau7JER6mQYiFksQYGYkgaCOoOlYd7jV43DT3E8ontbbO2e1rNn7
10klyVggD7CgzA/nJ8qz7RVGQrc8LiDrEzyUzPuOlQNm7Ydf2dxc6KMoEqHVQo1R5gg6ADgYPgFY
9rYdjF5G7S0hBkaFIg5bijUaTrEHXlWbL4075UncfeF1Mu51b3/absnCCzbVQgUAa6nM0aSTxBPG
PPlXq9iWR8rI0A8QpMDlr0qVhNqWnQXEMggGANTrwn1MH3rBidqIWhfG0qBrJ8tKyTG579rY3v0o
cbt1VVyTlPATpwAMkcece1WuzdmNkD3mZWbvBR9mRzkcevyqU+z8zh31VdcsAyennHH2r5tTHqi5
gPUnMNCJFRPGI1WO3W5nqGt7e2BdchkuBwB4fCTrMTMHpyqFsbd/F9oS4a2jAqxBUz0AgnnrPQH3
nbKzXLqsrzbVjpqWYlWAEcoJBnyrYsZcZACDM68R1HPyFXTltSOHSZ3v294TD2VCKkMy6LJJ1Gms
86nX0DzGV1GjCQYMz3x9nSImCZqlxJgpdgrnYK2uikBmDN01AE+Yq4t4kwrBp7oKiYOundYVOOK2
ibX3qP0/XajJyiY0930ACAgAlgvdJUgGfCVgj9KibV3xsYO32jsyNwFojMznnlYaMvVjBn7R4GSu
IRss21L5lHdOUqSdJABX6VzLbO0LWKuuXB8RVZMkKpgD++ZNer4Uar+Wdxuf3YM/vv2tT8W2u3NM
NaVJ4MzFyPzrAB9j71u+y7eFxydph3yvHeXwOnkSsGPPUGuHY/d4jvWzIrBsza9/CuGVmRl4MCQf
/I8q3qHeMRu5fOhOdegZQf4iAfnTCbrMDohTqxcO3sdY9hVLur8VLdwBMUMrcO0Ud0/mQaj1HyFd
Jw2IS4oZGV1PBlIIPuKCJs7ZNu0ICieJJ1JPUk6k+tWVKUClKUClKUCuR/GXCResXY8aMh/cbMP+
s/KuuVqnxA3cbG4cLbIFy23aIDoG7pUoTykHj1AoNT2C+bDWj+Bf5VPqt3etOlhUdGR0LKysIZSC
eI+s8wQRUvaGNSyhd+HIc2PQUElTGoMHrzrWtv7u2rpL2mW1dPEHS1cP4h9hvMaeXOtb2rvZiXMI
ezTkFEt7sePtFMBvC5hbp48G+y39DQR7Vy5hrpV0yuIzI4BkawVPMamCPrV7b2t2kQxEGWEAtEyS
IOv8qku1u+gS6udB4SDFy35236fhMg1r21Nkvh++G7S1MLdUHuk/ZuLxRvoeRPCqcmGt+/lZTJNW
5Yu1mTMkEjh3RzIZxIOuka/2cWztrMjAhTbbqF45jmbMODCBJJnlppI1bA7VZVyGI5HymSJnQf8A
rStkwdjMA75S57wAIygnwx3joBz5+XLFalsc9tNbVtCxODtYgfsHWzdchimotuTEunEo3eHd5nTi
SRY4G2lgG0WYunjZlylixzEyZgE8pOkCqDF3Vci2VVsza91RoI7x1kKADFWC3e0tdliHe4kdy4ul
6355iSGWfsv8zAFVXx1yx71P9rK3tWNT3H3Zl2g12+ttG7q5mfnA4KvSWPU8j0q2LSsHUEAEHXiO
B66cqrthbIWzbKW7yXZLMWJCOcxJBa2xBmCB+7Wa9tO0jlDdthl0Km4kggwRE8ax38a8TqsTP1/V
b+NWflAwODTDM2RSEc6tJJVtBkk65eY9Y6VPxOKVQS5ERl5EH2/vhUywysCXdIOoCnOcsDio1HE1
RYzF4ZSYtNeYEn9qwVFA0lUSSyyYgkca6jxslrbv1+5Oavx2zXtmXLyKA6ZXkoUDXQR5QdT5jh5V
Jt22tpaftiotoEKAZu0AdRcLjKRGWY4aniOIjYbaAKnJlURBQqSkxlKlSeA8iCBIBAJnwmNCqiOA
MqKgOWFaApZtOve0/wDVb8cY8MTx7nfyzXte+ot6+jPd27Yzx2NxCHU5mUEBUzEEd7myKvBoDTJ5
c427s6415rqlT2hNxspQZWaWYFZj8Wn3q3tsRAnULIkxnUnSePAyG68Zqrx+1baIyMULnulVGYnU
T5AjKvTgfKrMeW0Tqtf4hzatdfmn7tNwuNupoykjy1/lU9ltXxymoWJxQzZhCDpz96v939gvjGRS
jIGMC4Vy8pkc30HpW2u9dsttb6aljtiOhzIdKlbB3qxODbuOydRxVvzKdDXQNu7m4jCgsv8AmLI1
LKsXEHVkEyPxL7gCtOxOz0uiVgzXSHRt3vitZuQuIXIfvpLL6lfEPaa6BgNo2r657VxXXqpBj1HE
HyNflrFbLdDKzX3Z+3b1hwyuyMODKSp+YoP1hSuPbq/FVpCYoZ14Z1ADj1A0I+R9a6xg8Wl1Fe2w
ZWEqw4Ggk0pSgUpSg0neBIxD+YRv9uX/ALa59vDig+JCMe6gAjzIBJ+tdI3pWL4PW2v0Z/6itD3k
3be6xvWT34GZCYDwIlTyaOuh8qCh2jsoMJWtavWWQkRpzB4GtgwO0ipKOCGUwysIIPQg8KlYvCJc
EigoNn7Sa3wJZOa/aX06itt2ZtMOMyMNRB0lWHNXQ6EeRrTcZgGQzr61GwWOKPm9mHUdY60G6Y3d
9H72GARzqbDHuOetlydD+An0PKqrD3blrMADpIdWEOkA6GRIA5x9KucBiw41M9KuLlpLwHayWGiX
U/1EjgG++o6HUcjUWrFo1KYtMTuFVsC+jZnLS5YgeDwgAqIMZVkknTkOmluzjqDoBrlkxOpjl8q1
3bOxXskMYXN4LqSLb+sao39xxaoC7Vvp3WM8DDgGQJjvDUj3isl/GmZ3VfXN/s3LMrAgqCJB7wWC
RMs2vLkOOvnUYKUYZV7on7ug4ng0GYgetUNreZwIZA3XvET9D5/Ovr7yyP8ASHUy4MnkT3OVVf49
4+Hf4tGwri9CuUrpOuhy6BiSDz1PXh614S+xLDPAhmg5hwmNJifI8ONalidsufurx4xOvM6TPDXy
r7gdm4vFCLNm66kyWAyWzPMuYU/Oa7r41p99InNWPTYkxRXtWRs6IC7hIzWwxjvqDoB97z8qp8dv
GxPdAWJ8esyxaSnXWti3a+H+Iw9xb117ajwtatyxZGIzB3gcIBjvcK2jZm6WBw0FLKswg57n7V5j
iGfuqfyqavr49Y7ntVbNaXOt37mKe6jm29zDQVuZ0y2SrgrxI7xlhEGatsPuBBPb4mFkwlkS0Tpm
dhExx7p9a6HfvT9kacC3eI8xOin8oFV1yroiI9K5mZ9qfB7Ew1jW1ZUN99/2j+oZvD7RV3sYk4i1
J+03/wCb1DepmwB/mLf75/2MP1qUN4rQ97dxFulr2Fi3e1LJwS6f+1vMaHnxmt8pQfn61dVWNrEo
yOpysGEEH++fOm2N17LoXtuOExXY94918PjVi6kOBCuujr5TzHkZFcr278PsdYk2ibydU8Ueds6/
wzQcvJNt46Gux/CDbjdocOTKOpdB911EmPVZn8orleM2U4fK6urdCpB+R1rr3wk3Su2ScTfVl7pW
0rDKxzeJyOI00E9T5UHVaUpQKUpQc7302r2WNt27hhHsrkPJX7RwwY/iGUDlI869JXn4o7s3sSq3
rS58isroPGVJnMv3o6cek1U7t7T7W0gcMlxVUOrqVJIABZQ3EE6z50Gfb27VvFLPgugd24BrpwVx
9pfqOVc+vdthbnZXlysNQeKuPvI3Mf2Yrrllq+7Q2VZxKZLyB14jiGU8JVhqp9KDlu0cYjWvOtEv
v3jFdV3i+HjKhfDO7xJKNlzx+AgDMR0OvqdK5w2yxJliIJBEQQRxBngaCdu7jjovMaD9K6jsrDME
BfQ8Y6Vovw62WHxLkjMttZE/eMAfr8q6YyUHxX0KkKyNoyMJVh5g1Q4zcqzdnsb9zDk65GXtbYJ4
5QSCPmavKk4TxUHP9qbgYiyJ/wAZaYfkYH5RUjd7cQXmHaYto5i3bCk/vsf+01um9HgFYd0PFQXe
ytysBhoKYdXca57n7Rp6jNovsBV6/SslY2oI1yo1wVKeo1wUEO7US5Uy5UO5QRXqfu4P8wvkrn6A
frUBxVluyP8AMelt/wDqSg3GlKUClKUHyK+0pQKUpQKUpQKod4N3kxAzDu3F1VxoQavqUHNLOKe0
/Y4gZX4K3BX9OjeXyq6sXKvtsbHt4lCjqPI8xWjXjdwTZL8tbmEucSvQP5fi+fWg2m29UW3t0cNi
mDtmR/tOmUFx0cMpB9YnzqfYvggEHSpaXKCo2VsCzhUKWlIzHM7MZdz1Y/oIAr7ft1auagYgUFe4
rPg/FWG5WbCeKgx70eAVi3Q8VZd6PAKw7n+Kg32sb1krG9BHeotwVLeotygiXKiXKmXah3KCI4qz
3WH7cn/lt9XSq16td1F/aOeiAfNv/FBtlKUoFKUoFKUoFKUoFKUoFKUoFRsdg0uqVdQQetSaUHNt
obNu4FpQF8OT4RqyeaeX4flU/B41HUOjBlPAj++NbtdtBgVYSDWhbc3buYdzfw2qky9v7LeY6N50
Fl2lRrzVB2ftJLqypII0ZToynoRUlnoI9ys2F8VYHrPhPFQY96PAKw7oeKs29HgFYd0PFQb7WN6y
8qxtQR3qNcqU9RnoIdyot2pdwVFuCghvWbdbaIGNbDgAzYNxzzTK6hAR552/hFc43h31cu6WIVFJ
TPxZiDBK8gJq8+DSs+JvXDLfsyGY695nQiSeZCn5UHZaUpQKUpQKUpQKUpQKUpQKUpQKUpQK8kTo
a9UoNL3l3ULN2+HOS6OnBh0YcxVDgdpZyUdcl1fEh5/iU8xXUq1nebdZMSM69y4uqsuhB9aDXyaz
4TxVQPtC5YJt4i2xdZylYAuAepAUx1MdOlWGwdq27/gJDDxI2jr6j9RpQS96PAKw7n+Ks29HgFYN
0mAMnQDUk6Ae9Bv9Y2qLgtsYe8zJbv23dRLKjqxA4TA5TzqHtneXC4bS5dXPyRe+5/cWT7mgsHqH
ibqopZ2CqOJJAA9zWrvvHjMScuFw3Zqft3dW9Qg0HzPpUrB7jvdIfGXnutxhj3R6IO6PYUEfE7zo
xyYdHvt+AQn8Z0I9Jpb2FjsUO/c7BDyt+L3c6n2it3wGybNkAIgHtVhQck2Z8HYYnEYnMs6LbXKz
CZ7zsTE9APeulbH2RZwtsWrCBFHIaknqzHUnzNWNKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSl
KCh3o2EMVaKqVW5oVYjSQZgxqAeE8p4GuDbXN/DXmR1ZLqH3jkynmDyIr9L1W7W2Jh8UoXEWUuAc
Mw1X8rDUexoPzXtLeTFMoBv3CPNmP61BtbQuuIe47DoWOX5TFd3v/CfZrGcl0DoLrEf7pP1qw2X8
PNm2CGXDKzDUG4WuR5gOSB8qDlu5mwMTiWzW+0RCCDdUlRHNQ8iZiDE10/Yu4mGsd5lzNxJOsnma
21FAEAQBoBXugw2cOqiFUAeVZqUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUo
FKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUo
FKUoFKUoFKUoFKUoFKUoP//Z
">
<h2>Frying might be quite slow, we use low temperature to get you the best quality.</h2>
<h2>Deep frying is disabled, as it's quite unhealthy for you.</h2>
<p>Now go ahead and get flag.txt!</p>

<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>

</center>